<p id="notice"><%= notice %></p>

        <div class="row main" id="main">
            <div class="col-md-12">
                <div id="left-main" class="left-main">
                  <h4>The apps, platforms and businesses redefining how we use computers</h4>
                  <div class="left-main-img">
                      <img class="thumb" data-aspect-ratio="500x369" height="369" width="100%" alt="#" src="<%= @mobiles.first.img %>">
                      <div class="img-info">
                        <h3><%= @mobiles.first.title %></h3>
                        <div class="left-main-author">by <%= @mobiles.first.author %></div>
                      </div>
                  </div>
                </div>
                <div id="mid-main" class="mid-main mid-main-categories">
                </div>
                <div id="body-stories" class="body-stories">
                <% @mobiles.each do | mobile | %>
                  <div class="article-entry" style="border-bottom: solid; border-color: #282e28; border-width: 1px; margin-bottom: 10px;">
                    <a href="<% mobile_path(mobile) %>">
                      <img src="<%= mobile.img %>" align="right" style="width: 210px; height: 158px; padding:15px">
                    </a>
                    <a class="dark-grey-font" style="color: #282e28" href="<%= mobile_path(mobile) %>">
                      <h2 class="dark-grey-font"><%= mobile.title %></h2>
                    </a>
                    <h4>
                      <em class="tcGray">by </em>
                      <em class="tcGreen"><%= mobile.author %></em>
                    </h4>
                    <p class="article-paragraph"><%= mobile.description %><a class="tcGreen" href="<%= mobile_path(mobile) %>">Read More</a></p>
                  </div>
                <% end %>
                </div>
            </div>
        </div>

<br>

<%= link_to 'New Mobile', new_mobile_path %>
