<p id="notice"><%= notice %></p>

        <div class="row main" id="main">
            <div class="col-md-9">
                <div id="left-main" class="left-main">
                  <h4>The apps, platforms and businesses redefining how we use computers</h4>
                  <div class="left-main-img">
                      <img class="thumb" data-aspect-ratio="500x369" height="369" width="100%" alt="#" src="<%= @mobiles.first.img %>">
                      <div class="img-info">
                        <h3><%= @mobiles.first.title %></h3>
                        <div class="left-main-author">by <%= @mobiles.first.author %></div>
                      </div>
                  </div>
                </div>
                <div id="mid-main" class="mid-main">
                </div>
                <div id="body-stories" class="body-stories">
                <% @mobiles.each do | mobile | %>
                  <div class="article-entry" style="border-bottom: solid; border-color: #282e28; border-width: 1px; margin-bottom: 10px;">
                    <a href="<% mobile_path(mobile) %>">
                      <img src="<%= mobile.img %>" align="right" style="width: 210px; height: 158px; padding:15px">
                    </a>
                    <a class="dark-grey-font" style="color: #282e28" href="<%= mobile_path(mobile) %>">
                      <h2 class="dark-grey-font"><%= mobile.title %></h2>
                    </a>
                    <h4>
                      <em class="tcGray">by </em>
                      <em class="tcGreen"><%= mobile.author %></em>
                    </h4>
                    <p class="article-paragraph"><%= mobile.description %><a class="tcGreen" href="<%= mobile_path(mobile) %>">Read More</a></p>
                  </div>
                <% end %>
                </div>
            </div>
            <div class="col-md-3 right-main" style="background-color: #f9f9f9; margin-top: 20px; padding-bottom: 20px">
                <div class="sidebar-head">
                    <a href="https://techcrunch.com/got-a-tip/">Have a tip, pitch, or guest column? <span class="tcGreen">Send us a tip.</span></a>
                </div>
                <div class="sidebar-content">
                    <p id="news-text" class="bg-green white-text news-text">NEWSLETTER SUBSCRIPTIONS</p>
                    <div class="sidebar-dimensions">
                        <fieldset>
                            <label>
                                <span>
                                    <input type="checkbox" name="The Daily Crunch" id="daily-crunch">
                                </span>
                                <span>The Daily Crunch</span>
                            </label>
                            <p class="tcGray">Get the top tech stories of the day delivered to your inbox</p>
                        </fieldset>
                    </div>
                    <div class="sidebar-dimensions">
                        <fieldset>
                            <label>
                                <span>
                                    <input type="checkbox" name="The Daily Crunch" id="daily-crunch">
                                </span>
                                <span>TC Weekly Roundup</span>
                            </label>
                            <p class="tcGray">Get a weekly recap of the biggest tech stories</p>
                        </fieldset>
                    </div>
                    <div class="sidebar-dimensions">
                        <fieldset>
                            <label>
                                <span>
                                    <input type="checkbox" name="The Daily Crunch" id="daily-crunch">
                                </span>
                                <span>Crunchbase Daily</span>
                            </label>
                            <p class="tcGray">The latest startup funding announcements</p>
                        </fieldset>
                    </div>
                    <div id="sidebar-subs" class="sidebar-subs">
                        <%= form_for @email, url: startups_path, method: :post do |f| %>
                            <%= f.text_field :email, placeholder: 'Enter Email Address', class: 'tcGray sidebar-input', id: 'sidebar-input'  %>
                            <%= f.submit id: 'sidebar-input', value: 'SUBSCRIBE', class: 'inline sidebar-submit' %>
                        <% end %>
                    </div>
                    <div class="text-center">
                        <a href="http://link.techcrunch.com/join/134/signup-all-newsletters&hash=e2426df9e6d563a11dc2f37bff61e253" id="newsletter">SEE ALL NEWSLETTERS
                            <i class="green-arrow fa fa-angle-right" aria-hidden="true"></i>
                            <i class="green-arrow fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div id="sidebar-shop" class="sidebar-shop">
                    <a href="https://techcrunchstore.com/">
                        <p>Want some TechCrunch gear? <span class="tcGreen">Shop here.</span></p>
                    </a>
                </div>
                <div id="crunchboard">
                    <h3 class="dark-grey-text">CrunchBoard</h3>
                    <h4>Job Listings</h4>
                    <% @listings.each do | listing | %>
                        <div>
                            <%= link_to listing.listing + " " +(listing.location), listing.url %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

<br>

<%= link_to 'New Mobile', new_mobile_path %>
