<h1>New Mobile</h1>

<%= form_for @mobile, :url => url_for(:controller => 'mobiles', :action => 'create') do |f| %>
<%= f.label :title %>
<%= f.text_field :title , class: 'block-style'%>
<%= f.label :author %>
<%= f.text_field :author , class: 'block-style'%>
<%= f.label :category %>
<%= f.text_field :category , class: 'block-style'%>
<%= f.label :img %>
<%= f.text_field :img , class: 'block-style'%>
<%= f.label :body %>
<%= f.text_area :body , class: 'block-style'%>
<%= f.label :description %>
<%= f.text_area :description , class: 'block-style block-style-last'%>
<%= f.submit %>
<% end %>

<%= link_to 'Back', mobiles_path(@mobile) %>
