<p id="notice"><%= notice %></p>
<div class="show-image">
    <h1><%= @mobile.title  %></h1>
    <h2 class="tcGreen">by <%= @mobile.author %></h2>
    <%= image_tag @mobile.img, width: '700px'%>
    <p class="show-text"><%= @mobile.body %></p>

</div>
<%= link_to 'Edit', edit_mobile_path(@mobile) %> |
<%= link_to 'Back', mobiles_path %>
