<p id="notice"><%= notice %></p>

<div class="show-image">
    <h1><%= @startup.title  %></h1>
    <h2 class="tcGreen">by <%= @startup.author %></h2>
    <%= image_tag @startup.img, width: '700px' %>
    <p class="show-text"><%= @startup.body %></p>

</div>

<%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
