<h1>New All Video</h1>

<%= form_for @video do |f| %>
<%= f.label :link %>
<%= f.text_field :link %>
<%= f.label :channel %>
<%= f.text_field :channel %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :img %>
<%= f.text_field :img %>
<%= f.submit %>
<% end %>

<%= link_to 'Back', videos_path %>
